.product {
  position: relative;
  height: 500px;
  width: 300px;
  border: 1px solid #1c2b35;
  border-radius: 10px;
}
.product img {
  height: 286px;
  width: 286px;
  margin: 7px;
  border-radius: 10px;
}
.product .details {
  margin-left: 7px;
}
.product .details h4 {
  margin-bottom: 10px;
}
.product .details p {
  margin: 0;
}
.product button {
  border: none;
  border-radius: 0 0 8px 8px;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #1c2b35;
}
